### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [2]:
school_data.head(1)

   School ID        school_name      type  size   budget
0          0  Huang High School  District  2917  1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#calculate total schools, total students, total budget, avg math score, avg reading score, number of students passing math, % of students passing math, number of students passing reading, % of students passing reading, and % of students passing both
total_schools=len(school_data_complete["school_name"].unique())
student_count=school_data_complete["Student ID"].count()
total_budget=school_data["budget"].sum()
average_math_score=school_data_complete["math_score"].mean()
average_reading_score=school_data_complete["reading_score"].mean()
passing_math=school_data_complete[(school_data_complete["math_score"]>=70)].count()["student_name"]
passing_math_percentage=passing_math/float(student_count)*100
passing_reading=school_data_complete[(school_data_complete["reading_score"]>=70)].count()["student_name"]
passing_reading_percentage=passing_reading/float(student_count)*100

passing_math_reading=school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)].count()["student_name"]
passing_math_reading_percentage=passing_math_reading/float(student_count)*100
passing_math_reading_percentage

65.17232575950983

In [4]:
#groupby score name to get per score budget
#set index on school name, then retrieve type
school_types=school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [7]:
schooltypes=school_data.set_index(["school_name"])["type"]

In [8]:
#create groupbys
school_counts=school_data_complete['school_name'].value_counts()
schoolbudget=school_data_complete.groupby(["school_name"]).mean()["budget"]
student_budget=schoolbudget/school_counts
school_math_score=school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_reading_score=school_data_complete.groupby(["school_name"]).mean()["reading_score"]

school_passing_math=school_data_complete[(school_data_complete["math_score"]>=70)]
school_percentage_math=school_passing_math.groupby(["school_name"]).count()["student_name"]/school_counts*100

school_passing_reading=school_data_complete[(school_data_complete["reading_score"]>=70)]
school_percentage_reading=school_passing_reading.groupby(["school_name"]).count()["student_name"]/school_counts*100

school_passing_math_reading=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)]
school_percentage_math_reading=school_passing_math_reading.groupby(["school_name"]).count()["student_name"]/school_counts*100

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [31]:
#create data frame
schooltypes=school_data.set_index(["school_name"])["type"]

#create groupbys
school_counts=school_data_complete['school_name'].value_counts()
schoolbudget=school_data_complete.groupby(["school_name"]).mean()["budget"]
student_budget=schoolbudget/school_counts
school_math_score=school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_reading_score=school_data_complete.groupby(["school_name"]).mean()["reading_score"]

school_passing_math=school_data_complete[(school_data_complete["math_score"]>=70)]
school_percentage_math=school_passing_math.groupby(["school_name"]).count()["student_name"]/school_counts*100

school_passing_reading=school_data_complete[(school_data_complete["reading_score"]>=70)]
school_percentage_reading=school_passing_reading.groupby(["school_name"]).count()["student_name"]/school_counts*100

school_passing_math_reading=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)]
school_percentage_math_reading=school_passing_math_reading.groupby(["school_name"]).count()["student_name"]/school_counts*100


summary=pd.DataFrame({"School Type": schooltypes,
                     "Total Students": school_counts,
                     "Total School Budget": schoolbudget,
                      "Per Student Budget": student_budget,
                     "Average Math Score":school_math_score,
                     "Average Reading Score":school_reading_score,
                     "% Passing Math": school_percentage_math,
                     "% Passing Reading": school_percentage_reading,
                     "% Overall Passing": school_percentage_math_reading})
summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [10]:
TopSchools=summary.sort_values(["% Overall Passing"],ascending=False)
TopSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [32]:
total_students=school_data_complete["school_name"].value_counts()
total_school_budget=school_data_complete.groupby(["school_name"]).mean()["budget"]
total_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [33]:
TopSchools=summary.sort_values(["% Overall Passing"],ascending=True)
TopSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [34]:
Ninth_Graders=school_data_complete[(school_data_complete["grade"]=="9th")]
Ninth_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["math_score"].round(2)

Tenth_Graders=school_data_complete[(school_data_complete["grade"]=="10th")]
Tenth_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["math_score"].round(2)

Eleventh_Graders=school_data_complete[(school_data_complete["grade"]=="11th")]
Eleventh_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["math_score"].round(2)

Twelfth_Graders=school_data_complete[(school_data_complete["grade"]=="12th")]
Twelfth_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["math_score"].round(2)

MathbyGrade=pd.DataFrame({"9th": Ninth_Graders_Scores,
                          "10th": Tenth_Graders_Scores,
                          "11th": Eleventh_Graders_Scores,
                          "12th": Twelfth_Graders_Scores})
MathbyGrade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.08  77.08  77.08
Cabrera High School    83.09  83.09  83.09  83.09
Figueroa High School   76.40  76.40  76.40  76.40
Ford High School       77.36  77.36  77.36  77.36
Griffin High School    82.04  82.04  82.04  82.04
Hernandez High School  77.44  77.44  77.44  77.44
Holden High School     83.79  83.79  83.79  83.79
Huang High School      77.03  77.03  77.03  77.03
Johnson High School    77.19  77.19  77.19  77.19
Pena High School       83.63  83.63  83.63  83.63
Rodriguez High School  76.86  76.86  76.86  76.86
Shelton High School    83.42  83.42  83.42  83.42
Thomas High School     83.59  83.59  83.59  83.59
Wilson High School     83.09  83.09  83.09  83.09
Wright High School     83.26  83.26  83.26  83.26

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [35]:
Ninth_Graders=school_data_complete[(school_data_complete["grade"]=="9th")]
Ninth_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["reading_score"].round(2)

Tenth_Graders=school_data_complete[(school_data_complete["grade"]=="10th")]
Tenth_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["reading_score"].round(2)

Eleventh_Graders=school_data_complete[(school_data_complete["grade"]=="11th")]
Eleventh_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["reading_score"].round(2)

Twelfth_Graders=school_data_complete[(school_data_complete["grade"]=="12th")]
Twelfth_Graders_Scores=Ninth_Graders.groupby(["school_name"]).mean()["reading_score"].round(2)

ReadingbyGrade=pd.DataFrame({"9th": Ninth_Graders_Scores,
                          "10th": Tenth_Graders_Scores,
                          "11th": Eleventh_Graders_Scores,
                          "12th": Twelfth_Graders_Scores})
ReadingbyGrade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  81.30  81.30  81.30
Cabrera High School    83.68  83.68  83.68  83.68
Figueroa High School   81.20  81.20  81.20  81.20
Ford High School       80.63  80.63  80.63  80.63
Griffin High School    83.37  83.37  83.37  83.37
Hernandez High School  80.87  80.87  80.87  80.87
Holden High School     83.68  83.68  83.68  83.68
Huang High School      81.29  81.29  81.29  81.29
Johnson High School    81.26  81.26  81.26  81.26
Pena High School       83.81  83.81  83.81  83.81
Rodriguez High School  80.99  80.99  80.99  80.99
Shelton High School    84.12  84.12  84.12  84.12
Thomas High School     83.73  83.73  83.73  83.73
Wilson High School     83.94  83.94  83.94  83.94
Wright High School     83.83  83.83  83.83  83.83

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [37]:
bins=[0,585,630,645,675]
groupnames=["<$584","$585-629","$630-644","$645-675"]
spending=summary
spending["Spending Ranges (Per Student)"]=pd.cut(student_budget,bins,labels=groupnames)
spending

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$584
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-644
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$584

In [38]:
spending_math_score=spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_score=spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math=spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading=spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_overall_passing=spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

spending_summary=pd.DataFrame({"Average Math Score": spending_math_score.round(2),
                              "Average Reading Score": spending_reading_score.round(2),
                              "% Passing Math":spending_passing_math.round(2),
                              "% Passing Reading":spending_passing_reading.round(2),
                              "% Overall Passing":spending_overall_passing.round(2)})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

In [39]:
bins=[0,1000,2000,5000]
groupnames=["Small(<1000)","Medium (1000-2000)","Large (2000-5000)"]
summary["School Size"]=pd.cut(summary["Total Students"],bins,labels=groupnames)
summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$584,Small(<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629,Small(<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-644,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$584,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$584,Medium (1000-2000)

In [40]:
schoolsize_math_score=spending.groupby(["School Size"]).mean()["Average Math Score"]
schoolsize_reading_score=spending.groupby(["School Size"]).mean()["Average Reading Score"]
schoolsize_passing_math=spending.groupby(["School Size"]).mean()["% Passing Math"]
schoolsize_passing_reading=spending.groupby(["School Size"]).mean()["% Passing Reading"]
schoolsize_overall_passing=spending.groupby(["School Size"]).mean()["% Overall Passing"]

schoolsize_summary=pd.DataFrame({"Average Math Score": schoolsize_math_score.round(2),
                              "Average Reading Score": schoolsize_reading_score.round(2),
                              "% Passing Math":schoolsize_passing_math.round(2),
                              "% Passing Reading":schoolsize_passing_reading.round(2),
                              "% Overall Passing":schoolsize_overall_passing.round(2)})
schoolsize_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.29

## Scores by School Type

* Perform the same operations as above, based on school type

In [41]:
schooltype_math_score=spending.groupby(["School Type"]).mean()["Average Math Score"]
schooltype_reading_score=spending.groupby(["School Type"]).mean()["Average Reading Score"]
schooltype_passing_math=spending.groupby(["School Type"]).mean()["% Passing Math"]
schooltype_passing_reading=spending.groupby(["School Type"]).mean()["% Passing Reading"]
schooltype_overall_passing=spending.groupby(["School Type"]).mean()["% Overall Passing"]

schooltype_summary=pd.DataFrame({"Average Math Score": schooltype_math_score.round(2),
                              "Average Reading Score": schooltype_reading_score.round(2),
                              "% Passing Math":schooltype_passing_math.round(2),
                              "% Passing Reading":schooltype_passing_reading.round(2),
                              "% Overall Passing":schooltype_overall_passing.round(2)})
schooltype_summary=schooltype_summary[["Average Math Score","Average Reading Score","% Passing Math", "% Passing Reading", "% Overall Passing"]]
schooltype_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67